<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="awstreams.redraccon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".helpers.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_ic"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.example.UPDATE_STATUS" />

                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.hendiware.hellogcm" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.Base_Activity"
            android:label="@string/title_activity_side_menu"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Splash_Activity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Sign_up_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".activities.Sign_in_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fc859c7933517f6aef1fe558890294a0fdba9366" />

        <activity
            android:name=".activities.DetailedNews_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".notifications.GCMListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name=".notifications.RegistrationServices" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="591612271019181"
            android:exported="true" />

        <activity
            android:name=".activities.TagActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>